<!-- 
@hubs
@total_images_hash (#number of images per timelpase)  -->



<div class="col-xs-12" style="margin-bottom:50px">
	<h2 style="width:200px;display:inline-block">Your Hubs</h2>
	<%= render partial: "partials/speed_display" %>
</div>

<div class="col-xs-12">
	<% @hubs.each do |hub| %>
	
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
			<%= link_to "#{hub.hub_name}", timelapse_hub_path(hub) %>
			
			<div class="timelapse-display" data-hub-id="<%= hub.id %>">
				<% hub_length = hub.photographs.length %>
				<% hub.photographs.each_with_index do |pic, idx| %>
		
						<% if idx == 0 %>
							<div class="timelapse-image active"  data-order-id="<%= pic.order_number - 1 %>">
								<p>Picture <%= idx + 1 %> of <%= hub_length %></p>
								<%= image_tag pic.image.url(:small), data: { order_id: 0} %>
							</div>
						<% else %>
							<div class="display-none timelapse-image" data-order-id="<%= pic.order_number - 1 %>">
								<p>Picture <%= idx + 1 %> of <%= hub_length %></p>
								<%= image_tag pic.image.url(:small), data: { order_id: (pic.order_number - 1)} %>
							</div>
						<% end %>
				<% end %>
			</div>
		</div>
		
	<% end %>
</div>

<%= render partial: "partials/timelapse_javascript" %>