<div class="col-xs-12" style="margin-top:4em">
	<div class="col-xs-12 col-sm-6">
		<h2 style="text-align:center"><%= @hub.hub_name %></h2>
		<div style="text-align:right;padding-top:200px">
			<%= render partial: "partials/speed_display" %>
		</div>
	</div>
	
	<%= render partial: "partials/timelapse_hub_show", locals: {data: {class_name: "col-xs-12 col-sm-6", hub: @hub, photographs: @photographs}} %>
	
	<ul style="display:inline-block;margin-top:200px">
		<% @photographs.each do |photo| %>
		<li class="timelapse-image-container">
			<%= image_tag photo.image.url(:small) %>&nbsp;&nbsp;&nbsp;<%= link_to "Edit this image", edit_photograph_path(photo) %>&nbsp;&nbsp;&nbsp;
			<div style="display:inline-block">
				created_date: <%= photo.created_at %><br>
				order number: <%= photo.order_number %><br>
				lat: <%= photo.latitude %><br>
				long: <%= photo.longitude %><br>
				rotation: <%= photo.rotation %><br>
				altitude: <%= photo.altitude %><br>
				image_direction: <%= photo.image_direction %>
			</div>
		</li>
		<% end %>
	</ul>
</div>

<%= render partial: "partials/timelapse_javascript" %>