<%= render partial: 'partials/navbar' %>

<div id="signUpContainer" class="center-block">
	<h2 class="small" style="padding-bottom:1em;letter-spacing:1.3px;">Turn daily photos into life&#39;s shareable moments. Sign up and&nbsp;enjoy!</h2>
	<% if devise_mapping.omniauthable? %>
	  <% resource_class.omniauth_providers.each do |provider| %>
	    <%= link_to omniauth_authorize_path(resource_name, provider), id: 'facebookButton', class: 'btn btn-lg btn-default btn-block' do %>
	 		 <p class="center-block google">
	 		 	<i class="fa fa-facebook" aria-hidden="true" style="float:left;font-size:1.5em;padding-left:40px"></i>
	 				<%= "Sign up with #{OmniAuth::Utils.camelize(provider)}" %>
	 		 </p>
			<% end %>
	  <% end %>
	<% end %>
	
	<hr></hr>
	
	<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: 'sign-up-toggle'}) do |f| %>
	  <%= devise_error_messages! %>

	  <%= f.text_field :name, autofocus: true, id: 'name', class: 'registration-form', placeholder: 'Enter Full Name' %>

	  <%= f.email_field :email, autofocus: true, id: 'emailAddress', class: 'registration-form', placeholder: 'Email Address' %>

    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off", placeholder: 'Create a Password', id: 'password', class: 'registration-form' %>

	  <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: 'Re-type Password', id: 'confirmPassword', class: 'registration-form' %>
		
		<%= render partial: "partials/registrations/sign_up_disclaimer" %>
		
		<div>
	  	<%= f.submit "Sign up", class: 'btn btn-lg btn-default btn-block', style: 'height:5em;font-size:1em;background-color:#fff;background-image:none;padding-right:0' %>
		</div>
	<% end %>
	
	<div>
		<div style="display:inline-block;width:59%;margin-top:20px">
			<p style="width:100%">Already have an account?</p>
		</div>

		<div style="display:inline-block;text-align:right;width:39%">
			<button class="btn btn-large btn-default" style="height:3em;width:100px;font-size:1em;background-color:#fff" onclick="navigateToLogIn()">
					Log In
			</button>
		</div>
	</div>
</div>

<script>
	function navigateToLogIn(){
		window.location.replace('/users/sign_in');
	}
</script>