<p id="hubConfirmation"></p>

<div id="formActions">
	
</div>

<div id="map" class="center-block" data-hub-locations="<%= @hubs %>" data-photo-one-url="<%= image_path('camera_image_32x32.png')%>" data-photo-two-url="<%= image_path('camera_image_32x32_red.png')%>" data-photo-coordinates="<%= @photograph_coords %>" data-photo-id="<%= @photograph.id %>"></div>

<% if current_user.email == "brentvale@gmail.com" %>
	<%= render partial: "partials/picture_placement_javascript_brent" %>
<% else %>
	<%= render partial: "partials/picture_placement_javascript" %>
<% end %>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDRb8dyf99yBGaxLMSQUggf0ql4wV8yGTE&callback=initMap"
    async defer></script>