<!DOCTYPE html>
<html>
<head>
  <title>TimeLessLapse | Capture daily events in your life and stitch them together to make a timelapses.</title>
	
	<%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyDRb8dyf99yBGaxLMSQUggf0ql4wV8yGTE"%>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
	
	<meta prefix="og: http://ogp.me/ns#" property="og:title" content="TimeLessLapse | Capture daily events in your life and stitch them together to make a timelapses. "/>
	<meta prefix="og: http://ogp.me/ns#" property="og:description" content="Whether your a photographer by hobby or profession, stitching together lifes activities can be a whole lot of fun.  TimeLessLapse uses geotagging of images to create timelapse hubs for the user. "/>
	<meta prefix="og: http://ogp.me/ns#" property="og:url" content="http://timelesslapse.herokuapp.com/"/>
	<meta prefix="og: http://ogp.me/ns#" property="og:image" content="https://image.ibb.co/nRq8Q5/timelesslapse_landing_page.jpg"/>
  
  <!-- Latest compiled and minified Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css">
	
	<link href='https://fonts.googleapis.com/css?family=Raleway:100,400' rel='stylesheet' type='text/css'>
</head>
<body id="main">

<div class="container-fluid" style="padding:0">
	<%= render 'partials/navbar' %>
	
	<% if notice %>
		<p class="notice" role="alert"><%= notice %></p>
	<% end %>
	<% if alert %>
		<p class="alert" role="alert"><%= alert %></p>
	<% end %>
	<div style="margin-top: 50px">
		<%= yield %>
	</div>
	
</div>


<script>
  //manually remove alerts/notices from devise
  $(function(){
    setTimeout(function(){
      $(".notice").addClass("remove-element");
    }, 3000);
    setTimeout(function(){
      $(".alert").addClass("remove-element");
    }, 3000);
		
  });
</script>

</body>
</html>
